<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
           <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/layout.css">
         <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Autentification Create&amp;Share</title>
    </head>

    <body>
      <div class="container">
        <div class="row">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
              <a class="navbar-brand " href="#">CreateAndShare</a>
            </div>
            <div class="navbar col-sm-8" id="navbar">
              <ul class="list-inline">
                <li class="list-inline-item"><a href="/Fichier">Fichier</a></li>
                <li class="list-inline-item"><a href="">Chat</a></li>
                <li class="list-inline-item"><a href="/Symfony/web/app_dev.php/profile">Profile</a>
              </ul>
            </div>
            <div class="navbar col-sm w-25 p-3" id="navbar">
              <a href="/Symfony/web/app_dev.php/logout">Logout</a>
              </div>
              </nav>
          </div>
      </div>


    <div class="container-fluid">
      <div class="row">

        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <ul>

              {% for groupe in arraygrp %}
                <li class="nav-item">
                  <a class="nav-link active" href="/group/{{groupe.id}}/chat">
                    {{ groupe.titre }}
                  </a>
                </li>
              {% else %}
                <li>Pas de groupe trouve</li>
              {% endfor %}
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>
        

    	{% block body %}
    	{% endblock %}
      </main>
      </div>
    	<footer>
    	
    	</footer>
</div>
    </body>
    <script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>


    