{% extends "PWMainBundle::layout.html.twig" %}

{% block body %}

	<div class="centered">
	<h3>Votre profile</h3>

	<ul>
	<li>Votre Pseudonyme : {{username}}</li>
	<li>Votre Mot de passe : {{password}}</li>
	<li>Votre adresse Mail : {{mail}} </li>
	</ul>

	<p>Voulez-vous modifier vos renseignements ?<p>
	<a class="btn btn-primary" href="/Symfony/web/app_dev.php/profile_edit">Modifier votre profil</a>
	</div>

{% endblock %}