{% extends "PWMainBundle::layout.html.twig" %}

{% block body %}

<h1 class ="mytitle">Fichiers partagés du groupe:</h1>

<h2>soumettre nouveau : </h2>
<form action="#" method="post" {{ form_start(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Upload Document" />
</form>
<br/>
<h2>fichiers actuels : </h2>
{% for doc in listdocs %}
  <li>
    <a class="nav-link active" href={{doc.url}}>
      {{ doc.name }}
    </a>
  </li>
{% else %}
  <li>Pas encore de fichier partagé</li>
{% endfor %}


{% endblock %}