{% extends "PWMainBundle::layout.html.twig" %}

{% block body %}

<p> Hello {{name}}</p>

<p>Pour commencer l'aventure : 
<a href="/Symfony/web/app_dev.php/group/create" class="btn btn-primary">Créer un groupe</a></p>
<p>Vous avez la possibilité de modifier vos renseignement : 
<a href="/Symfony/web/app_dev.php/profile" class="btn btn-primary">Modifier mon profile</a></p>


{% endblock %}
