<<<<<<< HEAD

=======
>>>>>>> 6d5477c7dc8ef80aaaeae7c8472ceaf9252f70b9

{% extends "PWMainBundle::layout.html.twig" %}

{% block body %}

<p> Hello {{name}}</p>

<p> <a href="/Symfony/web/app_dev.php/group/create">Créer un groupe</a>


{% endblock %}
