<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <title>Autentification Create&amp;Share</title>
    </head>

    <body>
    	<header>
    		<h1>Welcome to Create&amp;Share! Already a member ?</h1> 
    	</header>

    	{% block body %}
    	{% endblock %}
    	
    	<footer>
    	
    	</footer>
    </body>
</html>


    